body {
  font-family: Arial, sans-serif;
  background-color: #d3cdcd;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;

}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

button {
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #c9302c;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
